.container {
  width: 80%;
  max-width: 80%;
}
.container.glo-container {
  width: 80%;
  max-width: 80%;
}
.glo-button {
  background: #96b416;
  color: #fff;
  padding: 8px 15px;
  border: 1px solid #96b416;
  border-radius: 25px;
}
/* header start */

.header-top {
  background: #96b416;
  background-color: #96b416;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  margin: 0;
  padding: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-color: #e1e1e1;
}
.glo-input {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
}
input {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
}
select {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
}
select:focus-visible {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
  outline: 0;
  box-shadow: none;
}
input:focus-visible {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
  outline: 0;
  box-shadow: none;
}
button:focus-visible {
  box-shadow: none;
  outline: 0;
  border: 1px solid #96b416;
}
input:active {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
}
textarea {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
}
textarea:focus-visible {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
  outline: 0;
  box-shadow: none;
}
textarea:active {
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 5px;
}
.text-while {
  color: #fff;
}

.header-top-right {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.header-logo a img {
  width: 180px;
  max-height: 35px;
}

.header-button-cart {
  color: #96b416;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  padding: 8px 15px;
}

.header-content {
  background-image: url("../../woostore/img/background.jpg");
}

.header-menu {
  margin-top: 1rem;
}

.main-menu ul li {
  display: inline-block;
  list-style: none;
}

.main-menu ul li a {
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 12px;
  color: #1c1c1d;
  line-height: 35px;
  text-decoration: none;
}

.main-menu ul li a:hover,
a:active {
  color: #96b416;
}

.main-menu ul li a:active {
  color: #96b416;
}

.sidebar-contain {
  background-color: #fff;
  border-color: #e1e1e1;
  box-shadow: 0 4px 10px rgb(0 0 0 / 12%);
  border-radius: 0 0 10px 10px;
}

.sidebar-nav {
  height: 65px;
}
.sidebar-nav ul li {
  list-style: none;
  padding: 5px;
}

li.sidebar-category-li > img {
  width: 20px;
  height: 20px;
}

.banner-text-content {
  margin: 50px 0 0 75px;
}

.banner-text-content .text-banner {
  color: #363636;
  font-family: "Inter", Sans-serif;
  font-size: 52px;
  font-weight: 900;
  text-align: left;
}
.banner-text-content .text-banner-green {
  color: #96b416;
}

.text-banner-description {
  color: #363636;
  text-align: left;
  width: 400px;
  word-wrap: break-word;
}

.carousel-item-banner .carousel-caption {
  background: unset;
  text-align: left;
}

.btn-shop-now {
  font-size: 14px;
  font-weight: 600;
  fill: #ffffff;
  color: #ffffff;
  background-color: #96b416;
  border-radius: 100px 100px 100px 100px;
  padding: 11px 20px 11px 20px;
}

.btn-shop-now:hover {
  color: #ffffff;
  background-color: #f69946;
}

.circle-btn-icon {
  color: #363636;
  background-color: #ffffff;
  min-width: 22px;
  min-height: 22px;
  border-radius: 120px;
  margin-left: 7px;
}

.circle-btn-icon i {
  font-size: 14px;
  padding: 4px;
  color: rgb(78, 78, 78);
}

.header-under {
  background: #fff;
  height: 65px;
}

.header-under {
  background: #fff;
}

.header-under .sidebar-contain {
  z-index: 99;
}

.header-banner-content {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #ffffff;
  box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 12%);
  margin: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

.menu-category .category-product-menu {
  padding: 0px 30px;
}
.menu-category .category-product-menu li {
  padding: 10px 10px 10px 0px;
}
.menu-category .category-product-menu li a {
  text-decoration: none;
}

.menu-category .category-product-menu li a span {
  margin-left: 12px;
  color: #363636;
  font-size: 14px;
}

.menu-category .category-product-menu li a span:hover {
  color: #666;
}

.menu-category .category-product-menu li .sub-menu {
  display: none;
}

.menu-category .category-product-menu li:hover .sub-menu {
  display: block;
}

.menu-category .category-product-menu li .sub-menu li a {
  color: #363636;
  font-size: 14px;
}

.menu-category .category-product-menu li .sub-menu li a:hover {
  color: #666;
  border-bottom: 1px solid#f69946;
}

.shop-content {
  z-index: 100;
  background: white;
  position: absolute;
  border-top: 1px solid #ededed;
}

/* header end */

/* shop start */
.category-product-page {
  padding-top: 30px;
}

.shop-title {
  margin-bottom: 30px;
}
.shop-title .content-area {
  text-align: center;
}

.shop-category-sideleft .shop-menu-category ul li {
  text-decoration: none;
}
.glo-shop-sidebar ul#category-product-menu li {
  text-decoration: none;
  list-style-type: none;
}

.glo-shop-sidebar img._mi._before._image {
  display: none;
}
.glo-shop-sidebar ul#category-product-menu {
  padding: 0;
}
.glo-shop-sidebar h2::after {
  border: unset;
}
.glo-shop-sidebar input#min_price {
  width: 100%;
}

.glo-shop-sidebar input#max_price {
  width: 100%;
  margin-top: 10px;
}

.glo-shop-sidebar .price_slider_amount {
  text-align: end;
}

.glo-shop-sidebar button.button {
  margin-top: 10px;
  background: #96b416;
  color: #fff;
  padding: 8px 15px;
  border: 1px solid #96b416;
  border-radius: 25px;
}
form.woocommerce-ordering {
  margin-bottom: 20px;
}
/* shop end */

/*slider start */
.glo-container .swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
  color: black !important;
  border: 1px solid #e1e1e1;
  background-color: var(--et_white-2-dark);
  justify-content: center;
  padding: 20px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
}
.glo-swiper-text {
  position: absolute;
  bottom: 20px;
  color: #388e3c;
  left: 10px !important;
  right: 10px !important;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.glo-swiper-img {
  position: relative;
}
/* slide end */

/* content home  start*/

img.thumnail.wp-post-image {
  height: 250px;
  width: 200px;
  object-fit: contain;
}
.sale {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 14px;
  background: #ffc107;
  border-radius: 50%;
  padding-top: 6px;
  z-index: 9;
  right: 0;
  top: 0;
  font-size: 12px;
}
/* widget start */
.glo-widget-position-relative {
  position: relative;
}
.glo-widget-position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px 30px 60px 30px;
}
.glo-widget-text {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  font-family: Dosis;
  color: black;
}
.glo-widget-text-span {
  color: #000000;
  background-color: #02010100;
  font-size: 17px;
  font-weight: 300;
}
img.alignnone.size-full.wp-image-93 {
  border-radius: 10px;
}
.glo-widget-position-relative img {
  transition: all 0.7s ease-in-out;
}
.glo-widget-position-relative:hover img {
  opacity: 1;
  transform: scale(1.15);
  transition: all 0.7s ease-in-out;
}
/* widget end */
/* product strart */
.glo-h2-title {
  color: #222222;
  font-family: "Dosis", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
}
h2:before {
  content: "";
  width: 300px;
  height: 5px;
  border-top: var(--line-height, 1px) var(--line-style, solid)
    var(--line-color, #e1e1e1);
  border-bottom: var(--line-height, 1px) var(--line-style, solid)
    var(--line-color, #e1e1e1);
  -webkit-box-flex: 1;
  flex: 1;
  display: inline-block;
  margin-right: var(--line-space, 15px);
}
h2:after {
  content: "";
  width: 300px;
  height: 5px;
  border-top: var(--line-height, 1px) var(--line-style, solid)
    var(--line-color, #e1e1e1);
  border-bottom: var(--line-height, 1px) var(--line-style, solid)
    var(--line-color, #e1e1e1);
  -webkit-box-flex: 1;
  flex: 1;
  display: inline-block;
  margin-left: var(--line-space, 15px);
}
.glo-text-center {
  text-align: center;
}
.glo-text-tile {
  color: #f69946;
  font-family: "Inter", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.7em;
  border-radius: 4px;
  background-color: #f6994633;
  padding: 5px;
}
ul.nav.nav-tabs {
  justify-content: center;
}
.nav-tabs {
  border-bottom: unset;
}
.nav-tabs .nav-link.active {
  background-color: #96b416;
  color: white;
  font-family: "Dosis", Sans-serif;
  font-size: 16px;
  padding: 12px;
  border-radius: 70px;
}
.nav-tabs .nav-link:hover {
  border-color: white;
}
.glo-banner {
  padding: 75px 0px 70px 70px;
  width: 50%;
}
.glo-banner-img {
  border-radius: 10px;
}
.glo-banner-text {
  color: #ffffff;
  font-family: "Inter", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: none;
  line-height: 1.3em;
}
a.nav-link{
  color: black;
}

/* product end */
/* cart start */
label.screen-reader-text {
  display: none;
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  width: 100px;
  height: 100px;
}

td.product-name {
  padding: 10px;
}

td.product-price {
  padding: 10px;
}

td.product-subtotal {
}

td.product-subtotal {
  padding: 10px;
}

td.product-quantity .quantity input {
  width: 50px;
}
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
  width: 100%;
}
.glo-cart-coupon {
  text-align: end;
}
.cart_totals h2:after {
  content: unset;
  border: unset;
}
.cart_totals h2:before {
  content: unset;
  border: unset;
}
.cart_totals h2 {
  text-align: center;
}
.cart-collaterals table.shop_table.shop_table_responsive {
  text-align: end;
  width: 100%;
}
.wc-proceed-to-checkout.mt-4.text-end {
  text-align: end;
}
.checkout-button.glo-button.wc-forward:hover {
  color: #fff;
  text-decoration: none;
}
.woocommerce-cart-form .border {
  height: 100%;
}
/* cart end */
/* thanh toan start */
.glo-woocommerce-checkout .form-row {
  margin-left: 0px;
  margin-right: 0px;
}
.glo-woocommerce-checkout label {
  width: 100%;
}
.woocommerce-input-wrapper {
  width: 100%;
}
.glo-woocommerce-checkout .woocommerce-input-wrapper input {
  width: 100%;
}
textarea#order_comments {
  width: 100%;
  min-height: 100px;
}
.woocommerce-checkout .border {
  height: 100%;
}
abbr.required {
  text-decoration: none;
  color: red;
}
ul.wc_payment_methods.payment_methods.methods li {
  list-style-type: none;
}
div#payment {
  margin-top: 10px;
}

ul.wc_payment_methods.payment_methods.methods {
  padding: 0px;
}

p#mailpoet_woocommerce_checkout_optin_field {
  margin: 0px;
}

.form-row.place-order {
  margin: 0px;
}
/* thanh toan end */
/* banner start */
.row.glo-server {
  width: 100%;
}

.glo-barner-server-icon {
  color: #F69946;
  font-size:50px;
}

.glo-barner-server {
  width: calc( 100% - 80px);
  padding-left: 10px;
}
p.glo-barner-server-title {
  font-family: "Dosis", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  color: #96B416;
  margin-bottom: 0;
}
p.glo-barner-server-text {
  font-family: "Inter", Sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.row.m-0.glo-server {
  padding: 35px 50px 35px 50px;
  background: #F9F9F9;
  
}
.border-bottom{
  border-bottom: 1px solid #edededed;
}
.glo-border-radius-bottom{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.glo-border-radius-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* banner end */